{{!< default}}

<article class="post">
    <header class="post-header">
        <a class="post-back" href="{{@site.url}}">&larr; Retour</a>
        <h1 class="post-title">{{title}}</h1>
        <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">
            {{date format="DD MMMM YYYY"}}
        </time>
    </header>
    <div class="post-content">
        {{content}}
    </div>
</article>
